[Unit]
Description=Canvia el fons de pantalla aleatòriament
After=graphical-session.target

[Service]
Type=oneshot
# Imatge aleatòria de ~/.local/share/wallpapers (dia/ o nit/ segons el mode de darkman)
ExecStart=/usr/local/bin/pickwall

[Install]
WantedBy=sway-session.target
